%h2 創建代理

%form{:method => 'post'}
  .rowElem
    %label{:for => 'identity'} 用户
    %input{:type => 'text', :name => 'identity'}
  .rowElem
    %label{:for => 'password'} 密碼
    %input{:type => 'password', :name => 'password'}
  .rowElem
    %label{:for => 're-password'} 
    %input{:type => 'password', :name => 're-password'}
  .rowElem
    %input{:type => 'submit', :value => '登陆'}
