<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>創世紀-系统管理-登陆</title>
    <link href='/static/css/admin.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <form class='login' method='post'>
      <div class='rowElem'>
        <label>Username</label>
        <input name='username' type='text' />
      </div>
      <div class='rowElem'>
        <label>Password</label>
        <input name='password' type='password' />
      </div>
      <div class='rowElem'>
        <input type='submit' value='Singin' />
      </div>
    </form>
  </body>
</html>
