!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title 創世紀-系统管理-{% block title %}{% endblock %}
    %link{:href => '/static/css/admin/index.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #header
      #main
        %label{:id => "logo"} Genesis
        %a{:id => "logout", :href => '{% url controller="admin" action="logout" %}'} 登出
    #center
      #main
        #side
          .menu
            %span{:class => "title"} 用户管理
            %ul{:class => "group"}
              %li{:class => "item"}
                %a{:href => '{% url controller="player" action="create" %}'} 創建玩家
              %li{:class => "item"}
                %a{:href => '{% url controller="agent" action="create" %}'} 創建代理
        #content
          = '{% block body %}'
          = '{% endblock %}'
    #footer
      #main
        %label{:id => "copyright"} Genesis © 2012
