body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  color: #333;
  font-size: 11px;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  line-height: 1.28; }
  body a {
    cursor: pointer;
    color: #3b5998;
    text-decoration: none; }

#nil {
  display: none; }

#header {
  height: 50px;
  background-color: #3b5998; }
  #header #main {
    width: 1134px;
    margin: 0px auto;
    padding-top: 10px; }
    #header #main #logo {
      color: white;
      font-size: 2.5em; }
    #header #main #logout {
      color: white;
      float: right;
      padding-top: 22px; }

#center {
  overflow: auto; }
  #center #main {
    width: 1134px;
    margin: 0px auto; }
    #center #main #side {
      width: 150px;
      float: left;
      padding-top: 20px;
      border-bottom: 1px solid #eeeeee; }
    #center #main #content {
      border: 1px solid #cccccc;
      min-height: 600px;
      border-top: none;
      overflow: hidden;
      padding: 0px 6px; }

div.menu {
  padding-left: 2px;
  padding-bottom: 10px; }
  div.menu ul.group {
    margin: 0;
    list-style-type: none;
    padding: 0px; }
    div.menu ul.group li.item {
      font-size: 12px; }
      div.menu ul.group li.item a {
        display: block;
        padding: 3px 0px;
        padding-left: 10px;
        margin-bottom: 2px; }
      div.menu ul.group li.item a:hover {
        background-color: #EFF2F7; }
  div.menu span.title {
    display: block;
    font-size: 14px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #999999; }

#footer {
  height: 100px; }
  #footer #main {
    width: 1134px;
    margin: 0px auto; }
    #footer #main #copyright {
      display: block;
      margin-top: 5px;
      margin-left: 150px; }

form .rowElem label {
  width: 50px;
  text-align: left;
  font-size: 14px;
  color: #445668;
  float: left;
  clear: left;
  margin: 11px 20px 0 0;
  width: 95px;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #f2f2f2; }
form input {
  width: 200px;
  height: 25px;
  padding: 5px 20px 0px 20px;
  margin: 0 0 20px 0;
  background: #5E768D;
  background: -moz-linear-gradient(top, #546a7f 0%, #5e768d 20%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #546a7f), color-stop(20%, #5e768d));
  /* webkit */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
  font-family: sans-serif;
  font-size: 16px;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71; }
form input::-webkit-input-placeholder {
  color: #a1b2c3;
  text-shadow: 0px -1px 0px #38506b; }
form input:-moz-placeholder {
  color: #a1b2c3;
  text-shadow: 0px -1px 0px #38506b; }
form textarea {
  width: 260px;
  height: 170px;
  padding: 12px 20px 0px 20px;
  margin: 0 0 20px 0;
  background: #5E768D;
  background: -moz-linear-gradient(top, #546a7f 0%, #5e768d 20%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #546a7f), color-stop(20%, #5e768d));
  /* webkit */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;
  -webkit-box-shadow: 0px 1px 0px #f2f2f2;
  font-family: sans-serif;
  font-size: 16px;
  color: #f2f2f2;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px #334f71; }
form textarea::-webkit-input-placeholder {
  color: #a1b2c3;
  text-shadow: 0px -1px 0px #38506b; }
form textarea:-moz-placeholder {
  color: #a1b2c3;
  text-shadow: 0px -1px 0px #38506b; }
form input:focus, form textarea:focus {
  background: #728eaa;
  background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #668099), color-stop(20%, #728eaa));
  /* webkit */ }
form input[type=submit] {
  width: 185px;
  height: 52px;
  float: right;
  padding: 10px 15px;
  margin: 0 15px 0 0;
  -moz-box-shadow: 0px 0px 5px #999;
  -webkit-box-shadow: 0px 0px 5px #999;
  border: 1px solid #556f8c;
  background: -moz-linear-gradient(top, #718da9 0%, #415d79 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #718da9), color-stop(100%, #415d79));
  /* webkit */
  cursor: pointer; }
