body {
  border: 0px;
  margin: 0px;
  padding: 0px;
  color: #333;
  font-size: 11px;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  line-height: 1.28; }
  body a {
    cursor: pointer;
    color: #3b5998;
    text-decoration: none; }

#nil {
  display: none; }

#header {
  height: 50px;
  background-color: #3b5998; }
  #header #main {
    width: 1134px;
    margin: 0px auto;
    padding-top: 10px; }
    #header #main #logo {
      color: white;
      font-size: 2.5em; }
    #header #main #logout {
      color: white;
      float: right;
      padding-top: 22px; }

#center {
  overflow: auto; }
  #center #main {
    width: 1134px;
    margin: 0px auto; }
    #center #main #side {
      width: 150px;
      float: left;
      padding-top: 20px;
      border-bottom: 1px solid #eeeeee; }
    #center #main #content {
      border: 1px solid #cccccc;
      min-height: 600px;
      border-top: none;
      overflow: hidden;
      padding: 0px 6px; }

div.menu {
  padding-left: 2px;
  padding-bottom: 10px; }
  div.menu ul.group {
    margin: 0;
    list-style-type: none;
    padding: 0px; }
    div.menu ul.group li.item {
      font-size: 12px; }
      div.menu ul.group li.item a {
        display: block;
        padding: 3px 0px;
        padding-left: 10px;
        margin-bottom: 2px; }
      div.menu ul.group li.item a:hover {
        background-color: #EFF2F7; }
  div.menu span.title {
    display: block;
    font-size: 14px;
    padding-bottom: 2px;
    font-weight: bold;
    color: #999999; }

#footer {
  height: 100px; }
  #footer #main {
    width: 1134px;
    margin: 0px auto; }
    #footer #main #copyright {
      display: block;
      margin-top: 5px;
      margin-left: 150px; }

form {
  padding-top: 10px; }
  form .rowElem label {
    width: 80px;
    display: inline-block;
    color: #666666;
    font-weight: bold;
    padding-right: 10px;
    text-align: right; }
  form .rowElem input {
    margin-bottom: 5px;
    height: 18px;
    width: 100px; }
  form input::-webkit-input-placeholder {
    color: #a1b2c3;
    text-shadow: 0px -1px 0px #38506b; }
  form input[type=submit] {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50px;
    cursor: pointer;
    border: 1px solid #556f8c;
    box-shadow: 0px 0px 2px #999; }
  form a.cancel {
    margin-top: 16px;
    margin-right: 8px;
    display: block;
    float: right; }

div.acount_info label {
  display: block-inline;
  font-size: 14px;
  padding-bottom: 2px;
  font-weight: bold;
  color: #999999;
  margin-left: 10px; }
div.acount_info span {
  display: block-inline;
  font-size: 1.5em;
  padding-bottom: 2px;
  font-weight: bold;
  color: #3b5998; }
div.acount_info input[type=button] {
  float: right;
  margin-right: 10px;
  width: 50px;
  cursor: pointer;
  border: 1px solid #556f8c;
  box-shadow: 0px 0px 2px #999; }
